body {

	background-color:white;
	
}

h1 {
	
	color:#00ff1f;
	text-align: center;
	font-size: 50px;
	font-family: 
}

table {
	border: 1px;
	border-color: white;
	background-color: black;
	color: white;
	font-size: 20px;
	

}