body {

	background-color:white;
	
}

h1 {
	
	color:blue;
	text-align: center;
	font-size: 50px;
	font-family:Ubuntu;
}

table {
	border: 1px;
	border-color: white;
	background-color: rgb(232,232,232) ;
	color: white;
	font-size: 20px;
	width: 760px;
	text-align: center;
	font-family: Ubuntu;
	table-layout: center;

}