body {

	background-color:gray;
	
}

h1 {
	
	color:blue;
	text-align: center;
	font-size: 50px;
	font-family:Jura;
}

table {
	border: 1px;
	border-color: white;
	background-color: black;
	color: white;
	font-size: 20px;
	width: 760px;
	text-align: center;
	font-family: Jura;

}